@using ArgoMini.Models
@model NotaFiscalSaida
@{
    ViewBag.Title = "Index";
}

<h2>Emitir Documento</h2>

@*@Html.HiddenFor(model => model.NotaFiscalSaidaId)*@

<div>
    <div class="col-sm-8">
        @Html.ActionLink("Adicionar Produto", "AddProduto", "FrenteCaixa", new { @class = "btn btn-primary " })

    </div>
    <div class="col-md-4">
        <div class="col-md-offset-8">
            @Html.ActionLink("Emitir Nota Fiscal", "EmitirNotaFiscal", "FrenteCaixa", new { @class = "btn btn-primary" })
            
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Código de Barras")
        </th>
        <th>
            @Html.DisplayName("Valor Total")
        </th>
        <th>
            @Html.DisplayName("Quantidade")
        </th>
        <th>
            @Html.DisplayName("Valor Total")
        </th>
        <th></th>
    </tr>
    @foreach (var emp in Model.Itens)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => emp.Mercadoria.CodigoBarras)
            </td>
            <td>
                @Html.DisplayFor(x => emp.PrecoVenda)
            </td>
            <td>
                @Html.DisplayFor(x => emp.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(x => emp.TotalMercadoria)
            </td>
            @*<td>
                    @Html.ActionLink("Editar Mercadoria", "Edit", new { id = emp.MercadoriaId })
                    @Html.ActionLink("Detalhe Mercadoria", "Detail", new { id = emp.MercadoriaId })
                    @Html.ActionLink("Excluir Mercadoria", "Delete", new { id = emp.MercadoriaId })
                </td>*@
        </tr>
    }
</table>

<div class="form-group">
    <div class="col-md-offset-9 col-md-10">
        
    </div>
</div>