@model ArgoMini.Models.Estabelecimento

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Estabelecimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InscricaoEstadual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InscricaoEstadual)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EstabelecimentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
