@model IEnumerable<ArgoMini.Models.Estabelecimento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.Cnpj)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.NomeFantasia)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.InscricaoEstadual)
        </th>
        <th></th>
    </tr>
    @foreach (var emp in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => emp.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(x => emp.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(x => emp.NomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(x => emp.InscricaoEstadual)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = emp.EstabelecimentoId }) |
                @Html.ActionLink("Detail", "Detail", new { id = emp.EstabelecimentoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = emp.EstabelecimentoId }) 
            </td>
        </tr>
    }
</table>